<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vacation Weather Check</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet">

</head>


<body>
 
  <section class="bg-dark text-center">
    <div class="container container--narrow">
      <h1>Let's go on a trip around the world!!</h1>

    </div>
  </section>


  <section class="bg-dark">
    <div class="container">
      <div class="split">
        <div class="pic-div">
          <img src="./src/client/img/SingaporeTrees.jpg" alt="Singapore Tree's Light Show">
        </div>
        
          
          <form class="search-form" onsubmit="return Client.performAction(event)">
            <h2>Where would you like to go?</h2>
            <label for="dest">City/Country</label>
            <input type="text" id="dest" placeholder="Enter a City or Country"><br>
            <label for="depDate">Departure Date</label>
            <input type="text" class= "myInput" id="depDate" placeholder="MM/DD/YYYY">
            <button class= "card-btn" id="generate" type = "submit" value="submit" onclick="return Client.performAction(event)" onsubmit="return Client.performAction(event)"> Generate </button>
          </form>
        
      </div>
      <section hidden id = "spot">

      </section>
    </div>
  </section>

 <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
 
</body>

</html>